@model NewsArs.Models.Category

@{
    ViewData["Title"] = "Удалить категорию";
}

<section id="home-articles" class="py-2">

    <div class="article-title">
        <h2>Удаление категории</h2>
    </div>

    <div class="container-article">

        <div class="article">
            <form asp-action="DeletePost" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" hidden />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" type="text" disabled />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</section>
