    <section id="about">
        <div class="container">
            <div class="page-container">
                <article class="card">
                    <h1 class='l-heading'>О нас</h1>
                <p>
                    NewsArs – передовое новостное издательство, которое стремится обеспечить своих читателей актуальной и достоверной информацией из различных сфер жизни. Мы строим свою деятельность на принципах объективности, надежности и качественного журнализма.
                </p>
                <p>
                    Наша миссия состоит в том, чтобы предоставлять читателям важные новости, которые имеют реальное влияние на их жизнь и окружающую среду. Мы стараемся освещать разнообразные тематики, включая политику, экономику, науку, технологии, культуру, спорт и многое другое.
                </p>
                </article>
                <aside class="card bg-primary">
                    <h2>Остались дополнительные вопросы?</h2>
                    <p>Позвоните в наше издательство!</p>
                    <a href="#" class='btn btn-dak btn-block'>Позвонить</a>
                </aside>
            </div>
        </div>
    </section>