@model NewsArs.Models.Article

@{
    ViewData["Title"] = "Удалить статью";
}

<section id="home-articles" class="py-2">

    <div class="article-title">
        <h2>Удаление статьи</h2>
    </div>

    <div class="container-article">

        <div class="article">
            <form asp-action="DeletePost" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" hidden />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" type="text" disabled />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Text" class="control-label"></label>
                    <input asp-for="Text" disabled style="height: 100px; width:300px;" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PreviewText" class="control-label"></label>
                    <input asp-for="PreviewText" disabled style="height: 100px; width:300px;" class="form-control" />
                    <span asp-validation-for="PreviewText" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Категория</label>
                    <select asp-for="CategoryId">
                        @Model.Category.Name
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Удалить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>
